Source: naviserver-nsssl
Section: web
Priority: extra
Maintainer: Qcode Software Ltd <hackers@qcode.co.uk>
Build-Depends: debhelper (>= 7.0.50~),naviserver-dev (>= 4.99.5),libssl-dev
Standards-Version: 3.9.1
Homepage: https://bitbucket.org/naviserver/nsssl
#Vcs-Git: git://git.debian.org/collab-maint/naviserver-nsssl.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/naviserver-nsssl.git;a=summary

Package: naviserver-nsssl
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, naviserver (>= 4.99.5)
Description: NaviServer SSL module
 This is NaviServer module that implements HTTP over SSL support and
 adds new ns_ssl command.
